<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detection</title>
    <style>
      .navstyle {
margin-bottom: 2px;


padding: 1px;
border: 2px solid black;
background-color: antiquewhite;

     }
.name{
      
      text-align: center;
      padding: 2px;
      text-decoration: solid;
color: #000;
}
    </style>
</head>
<body>
  <nav class="navstyle">
    <div class="name">
<h1>Lung Cancer Detection</h1> 
          </div>
          </nav>
<h1>
  Result is :{{result}}
</h1>


</body>
</html>